* {
            box-sizing: border-box;
        }
        
        body {
            font-family: 'Poppins', sans-serif;            margin: 0;
            padding: 20px;
        }
        
        h1 {
            text-align: center;
        }
        p{
            text-align: center;
            margin-top: -30px;
        }
        
        .container {
            max-width: 500px;
            margin: 0 auto;
            background-color: #f2f2f2;
            padding: 20px;
            border-radius: 5px;
        }
        
        .form-group {
            margin-bottom: 20px;
        }
        
        .form-group label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }
        
        .form-group input[type="text"],
        .form-group select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }
        
        .form-group input[type="submit"] {
            padding: 10px 20px;
            background-color: #4CAF50;
            width: 100%;
            color: #fff;
            border: none;
            cursor: pointer;
            font-size: 16px;
            transition: 0.7s;
        }
        
        .form-group input[type="submit"]:hover {
            background-color: #77fd7e;
            color: #000;
        }

        .footer{
            margin-top: 20px;
            font-size: 10px;
        }

        .footer a{
            text-decoration: none;
            color: blue;
            transition: .7s;
        }

        .footer a:hover{
            color: red;
            
        }